*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width:100%;
    height:100%;
}

body{
    background-color:#11001e;
}

/* CANVAS */

.canvas-wrap{
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
}

.canvas-wrap canvas{
    height:400px;
    width:600px;
    margin: 50px auto;
    background-color:#e2e2e2;
    display: block;
    border: 5px solid #44dcff;
}

.canvas-wrap input{
    width:200px;
    padding:5px 10px;
}

button{
    margin:20px 0;
    display: block; 
    background-color:#44dcff;
    padding:15px 30px;
    border:none;
    cursor:pointer;
    font-size:1.2em;
    transition:.3s;
}

.button__disabled{
    cursor: not-allowed;
    background-color:lightgrey;
    color:darkgrey;
}

.button__disabled:hover{
    box-shadow: none;
}

button:hover{
    box-shadow: 0px 0px 15px #44dcff;
}